<h1>Admin</h1>
<p> Welcome <%= user.username %></p><br><a href="/admin/logout">Logout</a>
<h2>Projects</h2>
<ul>
  <% projects.forEach(function(p,i){ %><li>
    <%= i %> <%= p.projectname %> <a href="/admin/project/edit/<%= p.projectname %>">Edit</a> <a class="warn" onclick="confirm('Delete?') ? window.location.href = '/admin/project/delete/<%= p.projectname %>' : ''">Delete</a>
  </li><% }) %>
  <li><a href="/admin/create">Create Project</a></li>
</ul>
<h2>Users</h2>
<ul>
  <% users.forEach(function(u,i){ %><li <% if(u.admin){%> class="important"<%}%> >
    <%= i %> <%= u.username %> <% if(u.admin){%> (ADMIN) <%}%><a class="warn" onclick="confirm('Delete?') ? window.location.href = '/admin/user/delete/<%= u.username %>' : ''">Delete</a>
  </li><% }) %>
  <li><a href="/admin/user/create">Create User</a></li>
</ul>
